{erl_opts, [debug_info]}.
{deps, [
    {uuid, "2.0.7", {pkg, uuid_erl}},
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"},
    {bcrypt, "1.2.2"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [cx]}
]}.

%% Define the release with `relx`
{relx, [
    {release, {cx, "0.1.0"}, [cx, sasl]},
    {dev_mode, false},
    {include_erts, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            % Disable dev mode for a standalone release
            {dev_mode, false},
            % Include ERTS for portability
            {include_erts, true},
            % Optional: specify your sys.config
            {sys_config, "config/sys.config"},
            % Optional: specify your vm.args
            {vm_args, "config/vm.args"}
        ]},
        {erl_opts, [warn_unused_vars, warn_unused_imports, warn_export_all]},
        {deps, [
            {uuid, "2.0.7", {pkg, uuid_erl}},
            {cowboy, "2.12.0"},
            {jsx, "3.1.0"},
            {bcrypt, "1.2.2"}
        ]}
    ]}
]}.
