[
    {cx_core, [
        {mnesia_dir, "data/mnesia"}
    ]},

    {cx_auth, [
        {issuer, <<"http://localhost:8081">>},
        {audiences, [<<"cx-api">>]},
        {key_source, {jwks, <<"http://localhost:8081/oauth/v2/keys">>}},
        {jwks_refresh_ms, 300000},
        {tenant_claim, <<"urn:zitadel:iam:org:id">>}
    ]},

    {cx_api_rest, [
        {port, 8080},
        {ip, {0, 0, 0, 0}},
        {acceptors, 10}
    ]},

    {kernel, [
        {logger_level, info}
    ]}
].
